* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #11a9ec;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    width: 70vh;
    margin: 4vh 0vh 8vh 0vh;
}

.taskBG {
    height: 80vh;
    width: 70vh;
    background-color: white;
    min-width: 600px;
    min-height: 700px;
    border-radius: 3px;
    box-shadow: 0 15px 15px 0px rgba(0,0,0,0.1);
    padding: 3vh 2vh;
}

.ListTasksContent {
  height: 85%;
  overflow: hidden;
  overflow-y: scroll;
}
.AddLineInput {
  min-width: 90%;
  max-width: 100%;
}

.ListTasksContent::-webkit-scrollbar {
    width: 0px;
}

.AddLineConten {
    width: 100%;
    display: flex;
}

.TaskItemContent {
    display: flex;
    justify-content: start;
    align-items: center;
}

.TaskItemContent label {
  text-align: left;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  color: #666666;
  font-family: "SF Pro Text Regular";
  margin: 0 2%;
  font-style: normal;
}

.TaskItemContent label.select {
  font-style: inherit;
}

@font-face {
    font-family: "SF Pro Text Semibold";
    src: url("//db.onlinewebfonts.com/t/d6243b42d786410a86f0bafee83d503a.eot");
    src: url("//db.onlinewebfonts.com/t/d6243b42d786410a86f0bafee83d503a.eot?#iefix")
        format("embedded-opentype"),
      url("//db.onlinewebfonts.com/t/d6243b42d786410a86f0bafee83d503a.woff2")
        format("woff2"),
      url("//db.onlinewebfonts.com/t/d6243b42d786410a86f0bafee83d503a.woff")
        format("woff"),
      url("//db.onlinewebfonts.com/t/d6243b42d786410a86f0bafee83d503a.ttf")
        format("truetype"),
      url("//db.onlinewebfonts.com/t/d6243b42d786410a86f0bafee83d503a.svg#SF Pro Text")
        format("svg");
  }

@font-face {
    font-family: "SF Pro Text Regular";
    src: url("//db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.eot");
    src: url("//db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.eot?#iefix")
        format("embedded-opentype"),
      url("//db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.woff2")
        format("woff2"),
      url("//db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.woff")
        format("woff"),
      url("//db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.ttf")
        format("truetype"),
      url("//db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.svg#SF Pro Text")
        format("svg");
  }

@font-face {
    font-family: "SF Pro Text Bold";
    src: url("//db.onlinewebfonts.com/t/28adc6c6fd652123c3e173389a8be17f.eot");
    src: url("//db.onlinewebfonts.com/t/28adc6c6fd652123c3e173389a8be17f.eot?#iefix")
        format("embedded-opentype"),
      url("//db.onlinewebfonts.com/t/28adc6c6fd652123c3e173389a8be17f.woff2")
        format("woff2"),
      url("//db.onlinewebfonts.com/t/28adc6c6fd652123c3e173389a8be17f.woff")
        format("woff"),
      url("//db.onlinewebfonts.com/t/28adc6c6fd652123c3e173389a8be17f.ttf")
        format("truetype"),
      url("//db.onlinewebfonts.com/t/28adc6c6fd652123c3e173389a8be17f.svg#SF Pro Text")
        format("svg");
  }