.PlusIcon {
    border-radius: 50%;
    width: 2vh;
    height: 2vh;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
  }
.PlusIcon::after {
    content: " ";
    position: absolute;
    display: block;
    background-color: #11A9EC;
    height: 16%;
    margin-top: -8%;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 9;
  }
.PlusIcon::before {
    content: " ";
    position: absolute;
    display: block;
    background-color: #11A9EC;
    width: 16%;
    margin-left: -8%;
    left: 50%;
    top: 0;
    bottom: 0;
    z-index: 9;
  }