.PlusIcon {
    border-radius: 50%;
    width: 22px;
    height: 22px;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
  }
.PlusIcon::after {
    border-radius: 10px;
    content: " ";
    position: absolute;
    display: block;
    background-color: #11A9EC;
    height: 4px;
    margin-top: -2px;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 9;
  }
.PlusIcon::before {
    border-radius: 10px;
    content: " ";
    position: absolute;
    display: block;
    background-color: #11A9EC;
    width: 4px;
    margin-left: -2px;
    left: 50%;
    top: 0;
    bottom: 0;
    z-index: 9;
  }