.AddInput {
    font-family: "SF Pro Text Regular";
    font-size: 18px;
    color: #666666;
    border: none;
    width: 100%;
    padding: 0px 5px;
}

.AddInput:focus {
    outline: none;
}

.AddInput::placeholder {
    color: #cccccc;
}