.AddButton {
  text-align: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  color: #0eadeb;
  border: none;
  font-size: 18px;
  display: none;
  font-weight: 900;
}

.AddButton.active {
  display: block;
}

.AddButton.active:hover {
  display: block;
  color: #34c2fa;
}

.AddButton.active:disabled {
  color: #e6e6e6;
  cursor: default;
}

.AddButton.active:disabled:hover {
  color: #e6e6e6;
}
