.AddButton {
    text-align: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    color: #0EADEB;
    font-family: SF Pro Text Bold;
    border: none;
    font-size: 18px;
    display: none;
    position: relative;
    left: 50%;
}

.AddButton.active {
    display: block;
}
.AddButton.active:hover {
    display: block;
    color: #34c2fa;
}

.AddButton.active:disabled {
    color: #E6E6E6;
    cursor: default;
    
}

.AddButton.active:disabled:hover {
    color: #E6E6E6;
}
