.TaskCheckBox {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.TaskCheckBox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: white;
  border: 1px solid #11a9ec;
  border-radius: 50%;
}

.TaskCheckBox:hover input ~ .checkmark {
  background-color: #e6e6e6;
}

.TaskCheckBox input.checked ~ .checkmark {
  background-color: #11a9ec;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.TaskCheckBox input.checked ~ .checkmark:after {
  display: block;
}

.TaskCheckBox .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid #f7f7f7;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

label.checked {
  text-decoration: line-through;
  color: #cdcdcd;
}
